<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MeetZa</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmailVerifcation</display-name>
    <servlet-name>EmailVerifcation</servlet-name>
    <servlet-class>meet.controller.EmailVerifcation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerifcation</servlet-name>
    <url-pattern>/EmailVerifcation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpVerifyController</display-name>
    <servlet-name>OtpVerifyController</servlet-name>
    <servlet-class>meet.controller.OtpVerifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpVerifyController</servlet-name>
    <url-pattern>/OtpVerifyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>meet.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>meet.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>meet.controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopList</display-name>
    <servlet-name>ShopList</servlet-name>
    <servlet-class>meet.controller.ShopList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopList</servlet-name>
    <url-pattern>/ShopList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopDetailsController</display-name>
    <servlet-name>ShopDetailsController</servlet-name>
    <servlet-class>meet.controller.ShopDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopDetailsController</servlet-name>
    <url-pattern>/ShopDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>meet.controller.UploadControllerShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/UploadControllerShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageViewController</display-name>
    <servlet-name>ImageViewController</servlet-name>
    <servlet-class>meet.controller.ImageViewControllerShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageViewController</servlet-name>
    <url-pattern>/ImageViewControllerShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDataController</display-name>
    <servlet-name>ItemDataController</servlet-name>
    <servlet-class>meet.controller.ItemDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDataController</servlet-name>
    <url-pattern>/ItemDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageViewControllerItem</display-name>
    <servlet-name>ImageViewControllerItem</servlet-name>
    <servlet-class>meet.controller.ImageViewControllerItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageViewControllerItem</servlet-name>
    <url-pattern>/ImageViewControllerItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadControllerItem</display-name>
    <servlet-name>UploadControllerItem</servlet-name>
    <servlet-class>meet.controller.UploadControllerItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadControllerItem</servlet-name>
    <url-pattern>/UploadControllerItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>meet.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartViewController</display-name>
    <servlet-name>CartViewController</servlet-name>
    <servlet-class>meet.controller.CartViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartViewController</servlet-name>
    <url-pattern>/CartViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateByCartItemNoController</display-name>
    <servlet-name>UpdateByCartItemNoController</servlet-name>
    <servlet-class>meet.controller.UpdateByCartItemNoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateByCartItemNoController</servlet-name>
    <url-pattern>/UpdateByCartItemNoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateByCartItemNoController1</display-name>
    <servlet-name>UpdateByCartItemNoController1</servlet-name>
    <servlet-class>meet.controller.UpdateByCartItemNoController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateByCartItemNoController1</servlet-name>
    <url-pattern>/UpdateByCartItemNoController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItemFromCartController</display-name>
    <servlet-name>RemoveItemFromCartController</servlet-name>
    <servlet-class>meet.controller.RemoveItemFromCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemFromCartController</servlet-name>
    <url-pattern>/RemoveItemFromCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillpaymentController</display-name>
    <servlet-name>BillpaymentController</servlet-name>
    <servlet-class>meet.controller.BillpaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillpaymentController</servlet-name>
    <url-pattern>/BillpaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CouponCodeController</display-name>
    <servlet-name>CouponCodeController</servlet-name>
    <servlet-class>meet.controller.CouponCodeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponCodeController</servlet-name>
    <url-pattern>/CouponCodeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByItemNameController</display-name>
    <servlet-name>SearchByItemNameController</servlet-name>
    <servlet-class>meet.controller.SearchByItemNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByItemNameController</servlet-name>
    <url-pattern>/SearchByItemNameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryController</display-name>
    <servlet-name>OrderHistoryController</servlet-name>
    <servlet-class>meet.controller.OrderHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryController</servlet-name>
    <url-pattern>/OrderHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsChangeController</display-name>
    <servlet-name>UserDetailsChangeController</servlet-name>
    <servlet-class>meet.controller.UserDetailsChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsChangeController</servlet-name>
    <url-pattern>/UserDetailsChangeController</url-pattern>
  </servlet-mapping>
</web-app>